:root {
    --primary-color-a: #dd801d;
    --bg-color-a: #fff;
}

#vg-infinite-container {
    max-width: 50em;
}

.vg-container {
    display: flex;
    flex-wrap: wrap;
}
  
.vg-item {
    flex: 0 0 31%;
    height: auto;
    margin-bottom: 2%; /* (100-32*3)/2 */
    margin-right: 5px;
    margin-left: 5px;
    background-color: var(--bg-color-a);
    padding-bottom: 45px;
}

#vg-infinite-container .read-more, .vg-infinite.load-more {
    background: var(--primary-color-a);
    padding: 10px 25px;
    border-radius: 25px;
    color: var(--bg-color-a);
    margin-top: 25px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

#vg-infinite-container a{
    text-decoration: none;
}

.vg-load-more-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vg-infinite.load-more {
    width: 90px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#vg-infinite-container .vg-hide {
    display: none;
}

#vg-infinite-container .vg-show {
    display: block;
}

@media only screen  and (max-width: 767px) {
    .vg-container {
        flex-direction: column;
    }
}

/* Animation */
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .vg-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 57%;
    left: 81%;
    width: 15px;
    height: 15px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 3px solid #999;
    border-top-color: #666;
    border-right-color: #000;
    border-bottom-color: var(--bg-color-a);
    animation: spinner .6s linear infinite;
  }