:root {
    --primary-color-a: #318001;
    --bg-color-a: #fff;
    --button-color-a: #1b91ca;
    --bg-color-card: #ddf7cd;
}

.vg-container {
    display: flex;
    flex-wrap: wrap;
}
  
.vg-item {
    flex: 0 0 30%;
    height: auto;
    margin-bottom: 5%; /* (100-30*3)/2 */
    margin-right: 5%;
    background-color: var(--bg-color-card);
    padding-bottom: 72px;
    padding-left: 19px;
    padding-right: 19px;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .vg-item:nth-child(3n) {
        margin-right: 0;
    }
}

#vg-infinite-container .vg-thumbnail {
    width: inherit;
    margin-bottom: 1.5em;
    margin-right: -20px;
    margin-left: -20px;
}

#vg-infinite-container .vg-thumbnail img{
    width: 100%;
    object-fit: cover;
    margin: 0;
}

.vg-title {
    font-size: 19px;
    line-height: 1.1em;
}

.vg-excerpt-content p {
    text-align: justify;
}

#vg-infinite-container .read-more, .vg-infinite.load-more {
    background: var(--primary-color-a);
    padding: 10px 25px;
    border-radius: 25px;
    color: var(--bg-color-a);
    margin-top: 25px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    bottom: 24px;
    left: 16px;
    width: 124px;
}

#vg-infinite-container a{
    text-decoration: none;
    color: var(--primary-color-a);
    font-family: 'Times New Roman', Times, serif;
}

#vg-infinite-container a:hover {
    text-decoration: underline;
}

.vg-load-more-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vg-infinite.load-more {
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: var(--button-color-a);
}

#vg-infinite-container .vg-hide {
    display: none;
}

#vg-infinite-container .vg-show {
    display: block;
}

@media only screen  and (max-width: 767px) {
    .vg-container {
        flex-direction: column;
    }

    .vg-item {
        flex: 100%;
    }
}

/* Animation */
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .vg-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 57%;
    left: 90%;
    width: 15px;
    height: 15px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 3px solid #999;
    border-top-color: #666;
    border-right-color: #000;
    border-bottom-color: var(--bg-color-a);
    animation: spinner .6s linear infinite;
  }